:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.map-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.center-target {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 500; 
  pointer-events: none;
  
  img {
    height: 41px;
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
  }
}

.bottom-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -5px 20px rgba(0,0,0,0.1);
  z-index: 1000;
  box-sizing: border-box;

  h3 { margin: 0 0 5px 0; color: #333; }
  
  .coordinates {
    font-family: monospace;
    color: #666;
    margin-bottom: 15px;
    font-size: 0.9rem;
  }

  .form-row {
    display: flex;
    gap: 10px;

    input {
      flex: 1;
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 8px;
      font-size: 1rem;
    }

    button {
      background: #dc3545;
      color: white;
      border: none;
      padding: 0 20px;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
      &:hover { background: #c82333; }
    }
  }
}
.map-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  

  pointer-events: none;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
  }

  h1 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
    font-weight: 800;
    pointer-events: auto;
  }

  .btn-admin {
    pointer-events: auto; 
    
    text-decoration: none;
    background-color: #343a40;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    transition: background 0.2s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

    &:hover {
      background-color: #000;
    }
  }
}
